@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.darkGradientBackground{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient( #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.darkBackground{
    background: #203A43 ;
}

.colorLight{
   background-color:  #01b58b3d;
}

.colorLightOpacity{
    background-color:  rgb(33, 58, 66, 0.97);
 }

 .searchColor{
    background-color:  #01b58b3d;
    border: 2px solid #01b58a;
 }

.btnColor{
    background-color: #01b58a;
}

.btnColorHover:hover{
    background-color: #01b58b3d;
}

.btnColorSecond{
    border: 2px solid #01b58a;
    border-radius: 0.5rem;

}
.btnColorSecond:hover{
    background-color: #01b58b3d;
}
.txtVertical {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }